/* Container */
.container-desc-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Columns */
.left-column,
.right-column {
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin-top: 30px;
  padding: 0 30px 0 30px;
}

/* Description Heading */
.desc-heading {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.product-image{
  border-radius: 10px;
}
/* Product Description */
.product-description {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px; /* Add padding to separate from other sections */
}

.product-description span {
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
  font-weight: bold;
  display: block; /* Ensure each span appears on a new line */
  margin-bottom: 5px; /* Add space between spans */
}

.product-description h1 {
  font-size: 36px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 15px;
}

.product-description p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back-link:hover {
  background-color: #45a049;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
  margin-right: 10px;
}

/* Responsive */
@media (max-width: 940px) {
  .container-desc-page{
    flex-direction: column;
  }
  .left-column,
  .right-column {
    max-width: 100%;
  }

  .product-description h1 {
    font-size: 28px;
  }
}

@media (max-width: 535px) {
  .container-desc-page{
    flex-direction: column;
  }
  .left-column img {
    width: 100%;
    max-width: 300px;
    margin-top: -50px;
    border-radius: 10px;
  }
}
