.Left{
  width: 50vw;
  /* background-color: antiquewhite; */
  padding: 1%;
  padding-left: 10%;
  font-size: 2em;
  font-weight: 900;
}
.Left-1{
  color:#CCB382;
}
.Left-2{
  color: black;
}

.Right{
  width: 50vw;
  /* background-color: aquamarine; */
  font-size: small;
  color: grey;
  padding-top: 1%;
}
@media screen and (max-width: 768px) {
  .outer-box {
    flex-direction: column; /* Stack elements vertically */
  }
  .Left{
    font-size: 1em;
    text-align: center;
  }
  .Left,
  .Right {
    padding: 2%;
    width: 100%; /* Make both Left and Right take full width */
    /* align-items: center; */
  }
}
