*{
  margin: 0;
  padding: 0;
}

.intro-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the Intro component is above the Banner */
  width: 100%; /* Adjust width as needed */
  max-width: 800px; /* Set maximum width */
  padding: 20px; /* Add padding for spacing */
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
  text-align: center;
  /* color: white; */
}

